# Scaleway Token
scw_token = ""

# Scaleway Organization ID
scw_org = ""


# Resources will be prefixed with this to avoid clashing names
prefix = "k3stest"

# Region where resources should be created
region = "par1"

# Instance Type
instance_image = {
  architecture = "x86_64"
  name         = "Ubuntu Bionic"
}

# Scaleway instance type
# Master type
instance_master_type = "DEV1-S"
# Agents type
instance_agents_type = "DEV1-S"
# Agents Count
instance_agents_count = "2"



# Email for your Cloudflare account
cloudflare_email = "@@@@gmail.com"

# Cloudflare token
cloudflare_token = "TOKEN_HERE"

# Cloudflare zone
cloudflare_zone = "akmsoftware.co.uk"

#ssh user
ssh_user             = "root"
ssh_public_key_file  = "./data/id_rsa.pub"
ssh_private_key_file = "./data/id_rsa"
